body, html, .App {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  color: white;
}

.video-desktop {
  display: block;
}
.video-mobile,
.video-smartwatch {
  display: none;
}

@media (max-width: 768px) {
  .video-desktop {
    display: none;
  }
  .video-mobile {
    display: block;
  }
}

@media (max-width: 400px) {
  .video-mobile {
    display: none;
  }
  .video-smartwatch {
    display: block;
  }
}

